body {
    text-align: center;
    padding: 50px;
    background-color: rgb(205, 232, 255)232, 255);
}

.upload-box {
    border: 2px solid #887878;
    padding: 30px;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: inline-block;
    width: 60%;
}

.upload-box:hover {
    background-color: #f3eded;
}

img {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

#result {
    font-size: 18px;
    font-weight: bold;
  }

.preview-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.preview-images img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin: 5px;
}

.emoji {
    font-size: 40px;
    margin-bottom: 10px;
}

footer{
    position: fixed;
    width: 100%;
    height: min-content;
    left: 0;
    bottom:0;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    padding: 10px;
}